###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=app-secret
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:password@database/Carner?serverVersion=10.5.8-MariaDB"
###< doctrine/doctrine-bundle ###

### DOCKER ###
MYSQL_ROOT_PASSWORD=password

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###